{
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "postgres",
    "password": "YourPasswordDB",
    "database": "roomreservationdb",
    "charset": "utf8mb4",
    "entities": ["./src/modules/**/entities/*.ts"],
    "migrationsTableName": "migrations",
    "migrations": ["src/shared/infra/typeorm/migrations/*.ts"],
    "cli": {
        "migrationsDir": "src/shared/infra/typeorm/migrations"
    }
  }
  